.icon{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

    .icon--hide{
        display: none;
    }

    .icon:hover{
        background-color: rgb(224, 224, 224);
    }