.container-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 1.5rem;
    line-height: 1;
}
.container-header__title{
    width: auto;
    font-size: 2rem;
    color: #464646;
}

.container-header__atext{
    color: #2A7AE4;
}
    .container-header__atext:hover{
        color: #E73700;
    }


@media only screen and (max-width:486px){
    .container-header{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: .5rem;
    }
}